<% layout ('layouts/boilerplate')%>
<script>
   let map_token = "<%= process.env.MAP_TOKEN%>";
  let listing = <%-JSON.stringify(listing)%>
</script>
<div class="d-flex justify-content-center">
  <div class="container my-2">
  <div class="card  show-card mb-3">

    <div class="mb-1">
  <% if (listing.image?.url) { %>
    <img src="<%= listing.image.url %>" alt="Listing Image" class="image-fluid card-img-top" />
  <% } else { %>
    <p>No image available</p>
  <% } %>
</div>

  <div class="card-body">
    <h5 class="card-title"><%=listing.title%></h5>
    <p class="card-text"><%=listing.description%></p>
    <p class="card-text">&#8377 <%=listing.price%></p>
    <p class="card-text"><%=listing.location%></p>
    <p class="card-text"><%=listing.country%></p>
    <p class="card-text"><small class="text-body-secondary">Hosted by: <%=listing.owner.name%></small></p>
  </div>
</div>
<div class="border-bottom my-3"></div>
<% if (currUser && listing.owner._id.equals(currUser._id)){%>
<div class="d-flex gap-2">
<a href="/listings/<%=listing._id%>/edit" class=" px-4 btn btn-dark edit-btn">Edit</a>
    <form  method="post" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark dlt-btn ">Delete</button>
    </form> 
    </div>
  <%}%>

    <% if (currUser){ %>
    <form class="needs-validation mt-3" novalidate action="/listings/<%=listing._id%>/reviews" method="post" >
      <h3>Leave a Review</h3>
      <div class="mb-3">
      <label for="rating" class="form-label" >Ratings</label>
      <fieldset class="starability-heart">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
      </div>
       <div class="mb-3">
      <label class="form-label" for="comment">Comment</label>
      <textarea
        name="review[comment]"
        class="form-control"
        id="comment"
        required
      ></textarea>
      <div class="invalid-feedback">Please enter a comment</div>
    </div>
    <button class=" btn btn-outline-dark">Submit</button>
    </form>
    <% } %>
    <div class="border-bottom my-3"></div>
    <% if(listing.reviews.length > 0){%>
    <h6>All Reviews</h6>
  <%}%>
    
    <div class="row g-1">
      
      <% for(let review of listing.reviews){ %>
    <div class="card  col-6 ">
      <div class="card-body review-card border">
        <h6 class="card-title"><%=review.author.name%></h6>
       <p class="starability-result card-text mb-2" data-rating="<%=review.rating%>" ><%= review.rating %></p>
        <p class="card-text"><%= review.comment %></p>
      <% if (currUser && review.author._id.equals(currUser._id)){%>
        <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
        <button class="btn btn-dark dlt-btn btn-sm ">Delete</button>
        </form>
      <%}%>
      </div>
    </div>
  
   
  <% } %>
  </div>
   <div class="my-3"></div>
   <h3>Where you'll be</h3>
  <div id='map'  style='width: 600px; height: 300px;'></div>
 
</div>  
</div>
 <script src="/js/map.js"></script>
        

